# Node modules ve build output
node_modules/
out/
.next/
build/

# Python bytecode
*.py[cod]
__pycache__/

# Django özel dosyaları
*.db
db.sqlite3
db.sqlite3-journal

# virtualenv
.venv
venv/
ENV/

# Environments dosyaları
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# MacOS dosya sistem artıkları
**/.DS_Store

# Windows dosya sistem artıkları
Thumbs.db

# Linux dosya sistem artıkları
*~

# IDE ve editörler için yapılandırmalar
.vscode/
.idea/
*.iml
*.iws
*.ipr

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Celery beat schedule file
celerybeat-schedule

# Local configuration
.local/
